@tailwind base;
@tailwind components;
@tailwind utilities;

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200
px
, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(290
px
, 1fr));
    display: grid;
    height: 130
em
;
    justify-content: center;
    align-content: center;
    grid-gap: 7
px
;
    grid-template-columns: repeat(auto-fill, minmax(200
px
, 1fr));
    grid-gap: 1
rem
;
    align-items: center;
    justify-items: center;
    margin: auto;
    max-width: 1024
px
;
}